footer.footer
  .container.footer__container
    .footer__inner
      .footer__col.footer__col--logo
        a(href="/").logo.logo--accent-dark.footer__logo
          span.logo__title
            span.logo__title-text Work
            span.logo__title-text-accent Bet
          span.logo__subtitle ваш гарант доходов на спорте
      .footer__col.footer__col--nav
        .footer__nav-list
          ul.footer-nav.footer__nav-list-item
            li.footer-nav__item
              a(href="#").footer-nav__link Главная
            li.footer-nav__item
              a(href="#").footer-nav__link Вилки
            li.footer-nav__item
              a(href="#").footer-nav__link Особенности
            li.footer-nav__item
              a(href="#").footer-nav__link Тарифы
            li.footer-nav__item
              a(href="#").footer-nav__link Акции
          ul.footer-nav.footer__nav-list-item
            li.footer-nav__item
              a(href="#").footer-nav__link Информация
            li.footer-nav__item
              a(href="#").footer-nav__link О нас
            li.footer-nav__item
              a(href="#").footer-nav__link Правила
            li.footer-nav__item
              a(href="#").footer-nav__link Платежи
          ul.footer-nav.footer__nav-list-item
            li.footer-nav__item
              a(href="#").footer-nav__link С чего начать
            li.footer-nav__item
              a(href="#").footer-nav__link Начать выигрывать
            li.footer-nav__item
              a(href="#").footer-nav__link Как сделать ставку
            li.footer-nav__item
              a(href="#").footer-nav__link Как пополнить счет
            li.footer-nav__item
              a(href="#").footer-nav__link Как снять деньги
            li.footer-nav__item
              a(href="#").footer-nav__link Идентификация
          ul.footer-nav.footer__nav-list-item
            li.footer-nav__item
              a(href="#").footer-nav__link Поддержка
            li.footer-nav__item
              a(href="#").footer-nav__link Юридические запросы
            li.footer-nav__item
              a(href="#").footer-nav__link Финансовые запросы
            li.footer-nav__item
              a(href="#").footer-nav__link Налоговые запросы
            li.footer-nav__item
              a(href="#").footer-nav__link FAQ
      .footer__col.footer__col--contacts
        a(href="#").btn.btn--size-md.btn--theme-white-accent.footer__contacts-btn Написать нам
        .contacts-media.footer__contacts-media
          ul.contacts-media__list
            li.contacts-media__item
              a(href="#").contacts-media__link
                svg.icon.contacts-media__icon
                  use(xlink:href="./images/sprite.svg#signal-social")
            li.contacts-media__item
              a(href="#").contacts-media__link
                svg.icon.contacts-media__icon
                  use(xlink:href="./images/sprite.svg#vk-social")
            li.contacts-media__item
              a(href="#").contacts-media__link
                svg.icon.contacts-media__icon
                  use(xlink:href="./images/sprite.svg#telegram-social")
    .footer__copyright
      p
        a(href="#") Политика приватности Пользовательское&nbsp;соглашение
        | <br>Workbet не является букмекером, не занимается организацией азартных игр и не пропагандирует их.<br>Информация несет ознакомительный характер.<br>Все права защищены. 18+
      p Wokrbet ©2022