.feed-section {
    background: $color-gray-2;
    padding: 30px 0;
    @media (max-width: $lg) {
        padding: 20px 0;
    }
    &__container {
    }
    &__header {
        margin: 0 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $lg) {
            margin-bottom: 20px;
        }
        &-btn-profit {
            flex-shrink: 0;
        }
        &-filter {
        }
    }
    &__list {
        margin: 0 0 30px;
        @media (max-width: $lg) {
            margin: 0 var(--gap-m) 20px;
        }
        &-card {
            &:not(:last-child) {
                margin-bottom: 30px;
                @media (max-width: $lg) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}