.event-card {
    background: $color-white-1;
    padding: 7px;
    font-size: var(--fs-default);
    border-radius: 7px;
    @media (max-width: $lg) {
        border-radius: 0;
    }
    &__table {
        width: 100%;
        font-weight: normal;
        text-align: left;
        border-collapse: collapse;
        &-tr {
            display: flex;
        }
        &-header {
            display: flex;
            align-items: center;
        }
        &-body {
        }
        &-footer {
            display: flex;
            align-items: center;
        }
    }
    &__cell {
        margin: 0;
        padding: 8px;
        font-weight: normal;
        flex: 1;
        vertical-align: top;
        &--1,
        &--3,
        &--4,
        &--5 {
            white-space: nowrap;
        }
        &--1 {
            max-width: 12.5%;
            flex-basis: 12.5%;
        }
        &--2 {
            max-width: 41%;
            flex-basis: 41%;
        }
        &--3 {
            max-width: 19%;
            flex-basis: 19%;
        }
        &--4 {
        }
        &--5 {
            max-width: 60%;
            flex-basis: 60%;
            @media (max-width: $lg) {
                max-width: initial;
                flex-grow: 1;
            }
        }
        &--6 {
        }
        &--7 {
            max-width: 15%;
            flex-basis: 15%;
        }
    }
    &.is-active &__cell--4,
    &:not(.is-active) &__cell--6 {
        display: none !important;
    }
    &__table-header &__cell {
        padding-bottom: 4px;
    }
    &__table-footer &__cell {
        padding-top: 4px;
    }
    &__table-footer &__table-tr:first-child &__cell {
        padding-top: 24px;
        padding-bottom: 20px;
    }
    &__title {
        margin: 0;
        font-weight: 600;
        font-size: var(--fs-6);
        @media (max-width: $lg) {
            font-weight: normal;
            font-size: 14px;
        }
    }
    &__title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__description {
        margin: 0;
        font-size: var(--fs-7);
        @media (max-width: $lg) {
            font-size: 14px;
            color: $color-black-1;
        }
    }
    &__game-info {
        margin: 0;
    }
    &__info {
        margin: 0;
        font-weight: normal;
        font-size: var(--fs-default);
    }
    &__bo-name {
        margin: 0;
    }
    &__name {
        margin: 0 0 8px;
    }
    &__bo-bet {
        margin: 0 0 8px;
    }
    &__bo-profit {
        max-width: 150px;
        margin: 0 30px 0 0;
    }
    &__time {
        margin: 0;
    }
    &__btn-list {
        margin: -5px;
        display: flex;
        justify-content: space-between;
        @media (max-width: $lg) {
            justify-content: flex-end;
        }
        &-item {
            margin: 5px;
            padding-right: 5px;
            padding-left: 5px;
            flex-grow: 1;
            @media (max-width: $lg) {
                min-height: 0 !important;
                margin: 0 !important;
                padding: 5px !important;
                font-size: 0 !important;
                flex-grow: initial !important;
                border: none;
            }
            .btn__icon-wrapper {
                @media (max-width: $lg) {
                    margin: 0 !important;
                }
            }
        }
    }
    &__bet-game {
        display: flex;
        align-items: center;
        font-weight: 600;
        color: var(--fs-7);
        &-icon {
            width: auto;
            max-width: 20px;
            height: auto;
            max-height: 20px;
            margin-right: 14px;
            flex-shrink: 0;
        }
    }
    &__coefficient-input {
    }
    &__currency {
    }
    &__data-list {
        margin: -5px;
        display: flex;
        align-items: center;
        font-size: var(--fs-7);
        &-col {
            max-width: 25%;
            min-height: 1px;
            padding: 5px;
            flex: 0 0 25%;
        }
        &-coef {
        }
    }
    .select2-container {
        width: 100% !important;
        .select2-selection--single {
            padding-right: 7px;
            padding-left: 7px;
        }
    }
}