.input-el {
    background: $color-white-1;
    width: 100%;
    min-height: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: var(--fs-7);
    line-height: 1.35;
    color: $color-black-1;
    border: 1px solid currentColor;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 0 transparent;
    transition: all .24s;
    transition-property: background, box-shadow;
    position: relative;
    &:hover,
    &:focus {
        @media (min-width: $lg-mf) {
            background: $color-gray-2;
        }
    }
    &:focus {
        @media (min-width: $lg-mf) {
            box-shadow: 0 0 12px 1px rgba($color-black-1, .17);
        }
    }
    &--is-readonly {
        background: $color-gray-2;
        border-color: transparent;
        pointer-events: none;
        user-select: none;
    }
    &__link {
        margin-right: 20px;
        text-decoration: underline;
        user-select: initial;
        pointer-events: initial;
        transition: all .4s;
        transition-property: box-shadow;
        &:hover {
            text-decoration: none;
        }
    }
    &__btn-copy {
        flex: 0 0 var(--btn-size);
        margin-left: auto;
        pointer-events: auto;
    }
}