.slick-dots {
    margin: 0;
    padding: 0 var(--gap);
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    li {
        margin: 2px;
        padding: 0;
        &.slick-active {
            button {
                background: $color-black-2;
            }
        }
        &:not(.slick-active):hover button {
            @media (min-width: $lg-mf) {
                background: $color-black-2;
            }
        }
        button {
            background: $color-gray-5;
            width: 14px;
            height: 14px;
            display: block;
            position: relative;
            border-radius: 50%;
            transition: all .34s;
            transition-property: background;
            cursor: pointer;
            @extend .btn-reset, .area-click;
        }
    }
}