// typography
$ff-default: 'Open Sans', Arial, sans-serif;
$ff-second: 'Inter', Arial, sans-serif;

// pallets
$color-black-1: #000;
$color-black-2: #404040;
$color-black-3: #1A1A1A;
$color-white-1: #fff;
$color-gray-1: #9E9E9E;
$color-gray-2: #EAEAEA;
$color-gray-3: #959595;
$color-gray-4: #808080;
$color-gray-5: #D9D9D9;
$color-gray-6: #9F9F9F;

$lg: 1199px;
$lg-mf: $lg + 1;

$md: 991px;
$md-mf: $md + 1;

$sm: 767px;
$sm-mf: $sm + 1;

$xs: 576px;
$xs-mf: $xs;