:root {
    --fs-default: 14px;
    --fs-1: 34px;
    --fs-2: 30px;
    --fs-3: 25px;
    --fs-4: 19px;
    --fs-5: 18px;
    --fs-6: 17px;
    --fs-7: 15px;

    --gap: 15px;
    --gap-m: calc(-1 * var(--gap));
}