include includes/head.pug

body

  #site
    include includes/header.pug
    div.wb-index
      a(href="home.html", target="_blank") Home page
    include includes/footer.pug

include includes/foot.pug 